:root {
    --background: rgb(24, 24, 24);
    --second-background: rgb(21, 21, 21);
    --gradient-color: linear-gradient(to right, #ba5370, #f4e2d8);
}

/* change the colors!!!!!! fix the image size and the hire me button */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    /* outline: 1px solid red; */
}

body {
    height: 100vh;
    max-width: 100%;
    background-color: var(--background);
    
}

nav {
    position: fixed;
    top: 0;
    max-width: 100%;
    padding: 1% 29%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 15rem;
    background-color: rgba(15,15,15,0.8);
    /* background-color: #fff; */
    backdrop-filter: blur(10px);
    z-index: 1;
    /* overflow-x: hidden; */
}

/* the <i> is for the hamburger menu*/
nav i{
    /* color: #f4e2d8; */
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    visibility: hidden;
}
nav i:hover{
    transform: rotate(-50deg);
}
#links-container {
    padding: 0.5rem 1rem; 
    margin-left: 1rem;
    /* margin-right: 5em; */
}

.links {
    display: flex;
    align-items: center;
    margin-right: 10rem;
    gap: 3rem;
}

.nav-a {
    color: hsl(343, 43%, 53%);
    font-size: 1.5rem;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

nav a {
    /* margin-right: 20px; */
}

nav a:hover{
    opacity: 1;
}

.logo {
    font-size: 2em;
    color: #fff;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}


/* The left property is what caused the logo to move to the left  */
#logo-container {
    position: relative;
    /* margin-right: 4rem; */
    /* text-align: left; */
    left: -15rem;
}

.logo:hover {
    opacity: 1; 
}

.btn {
    padding: 0.5em 0.8rem;
    color: #fff;
    background-color: var(--background);
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1em;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: #fff;
    color: var(--background);
}

span {
    /* background: linear-gradient(to right, #6cff52, #3ec5ff); */
    background: var(--gradient-color);
    background-clip: text;
    color: transparent;
}

section {
    min-height: 100vh;
    padding: 5% 10%;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    gap: 2em;
    color: #fff;
    margin-top: 1rem;
}


/* the width and height of the top image is extremely important */
#home img {
    width: 32vw;
    /* height: 22vw; */
    border-radius: 60px;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
    max-width: 600px;
}

.info-box h1 {
    font-size: 2.8em;
    font-weight: 500;

}

.info-box h3 {
    font-size: 2.1em;
    font-weight: 400;
}

.info-box p{
    opacity: 0.7;
    line-height: 2.3em;
    font-size: 1.4rem;
}

.btn-box {
    display: flex;
    gap: 2em;
}
.btn a {
    color: #f4e2d8;
}
.test  .touched {
    background-color: red;
}
/* .btn a:hover {
    color: var(--background);
} */

/* you can use the line below to style the second button */

/* .btn-box :nth-of-type(2) {
    background-color: #fff;
    color: var(--background);
}

.btn-box :nth-of-type(2):hover {
    background-color: var(--background);
    color: #fff;
} */

/* SCROLLBAR STYLING */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ba5370, #f4e2d8);
    height: 60px;
}

#about {
    background-color: var(--second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 4em; */
    margin: 0;
}

.about-box {
    display: flex;
    flex-direction: column;
    text-align: left;  
    gap: 2em;
    width: 100%;
}

.about-info {
    margin-bottom: 7rem;
}


.about-box h1 {
    font-size: 3.1em;
    margin-bottom: 40px;
}

.about-box p {
    color: #fff;
    opacity: 0.8;
    line-height: 2.3em;
    font-size: 1.4rem;
}
#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* margin-top: 3rem; */
    padding: 2rem 3.5rem;
    /* outline: solid 2px red; */
}

#projects-header {
    margin-top: 2rem;
}

.project-box {
    /* background-color: rgb(91, 62, 84); */
    padding: 1rem 2rem;
}
#e-commerce-screenshots {
    width: 65vw;
    border: 0.5rem;
    transition: transform 0.5s ease-in-out;
    border-radius: 0.2rem;
}
/* #e-commerce-screenshots:hover {
    transform: scale(1.05);
} */
.project-link {
    font-size: 2rem;
    color: #fff;
    border-bottom: solid 2px #fff;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 6em;
}
.list-header {
    font-size: 2.2rem;
}

.skills ul {
    border: 2px solid rgb(49, 49, 49);
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3rem 5rem;
    gap: 2rem;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: var(--second-background);
}
.skill-li {
    font-size: 1.5rem;
}

.skills ul:hover {
    border: 3px solid rgb(126, 123, 123);
}

/* .skills ul {
    font-size: 2em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    color: #fff;
    opacity: 0.8;
    align-items: baseline;
    margin-top: 40px;
    gap: 2rem;
    padding: 1rem 1rem;
    outline: solid 2px red;
} */
 /* add the styling for the skills icons dropdown */

.about-box h2 {
    font-size: 3.1em;
    margin-top: 30px;
} 

#services {
    background-color: var(--background);

}

.services-header {
    font-size: 3rem;
    margin-bottom: 50px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.services-box {
    border: 3px solid rgb(49, 49, 49);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: var(--second-background);
}

.services-box:hover{
    border: 3px solid rgb(126, 123, 123);
}

.services-box p{
    opacity: 0.8;
    line-height: 2em;
}

.services-box h1 {
    font-size: 2em;
}

#contact {
    background-color: var(--second-background);
}
.form-header{
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}

#contact-section-icons {
    /* background-color: #ba5370; */
    padding: 5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.contact-media-link {
    font-size: 4rem;
}

/* .form-header{
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

form .input-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2em;
}
.input-box span {
    font-size: 1.7em;
}

form input {
    font-size: 1.3rem;
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    text-align: left;
}

form input:focus{
    background: rgb(197, 191, 191);
}

#form-textarea {
    font-size: 1.7rem;
    padding: 2rem 5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
} */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    bottom: 0;
    background-color: var(--background);
    width: 100%;
    /* padding: 5em 15%; */
}

.col-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 0.8rem;
}

.col-box {
    display: flex;
    align-items: center;
    gap: 1em;
}

#email-span {
    padding: 1rem 0;
}

.col-right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #fff;
    /* max-width: 500px; */
    margin-right: 0.8rem;
}

#social-media-icons {
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#social-media-icons i{
    color: #fff;
    font-size: 2rem;
}



/* fix the @media to make it responsive*/
@media(max-width:960px) {
    nav {
        gap: 0.9rem;
    }
    .links {
        gap: 1.8rem;
        font-size: 0.5rem;
        /* margin-right: 5rem; */
    }
    #links-container {
        padding: 0.2rem 0.3rem; 
        margin-left: 1rem;
        /* margin-right: 5em; */
    }
    #logo-container {
        left: -5rem;
    }
    section {
        padding: 8em 15%;
    }
    nav .btn {
        display: none;
}
}

/* TODO: work on the FOOTER!!!!!!! */
/* hide the button and only show it when the screen hit the 700px breakpoint  */
/* work on the dropdown menu for small screens */
@media(max-width:600px) {
    *{
        /* outline: solid 1px red !important; */
    }
    body {
        /* width: 100vw; */
        height: 100vh;
        overflow-x: hidden;
        background-color: rgb(117, 121, 121);
        margin: 0;
        /* padding: 0; */
    }
    .links{
        display: none;
        left: 0;
        margin: 2rem;
        margin-top: 3rem;
        /* margin: auto; */
    }
    #links-container{
        /* display: none; */
    }
    nav {
        height: 40px;
        width: 100%;
        padding: 3% 8%;
    }
    .show {
        margin-top: 150px;
        top: -90px;
        height: 280px;
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 80%;
        padding: 1em 7em;
        align-items: center;
        /* justify-content: space-between; */
        background-color: rgba(15,15,15,0.8);
        /* background-color: #fff; */
        backdrop-filter: blur(50px);
        transition: 0.3s ease-in-out;
        /* z-index: 1; */
        gap: 2.2rem;
        border-radius: 10px;
        border: solid 2px #fff;
    }    
    nav ul li {
    color: #fff;
    }

    .show-nav {
        display: flex;
        flex-direction: column;
        height: 310px;
    }
    nav i{
        visibility: visible;
        top: 0;
        z-index: 1;
        margin-right: 10px;
        color: #fff;
    }
    #logo-container {
        position: relative;
        /* margin-right: 4rem; */
        /* text-align: left; */
        left: -1rem;
    }
    section {
        min-height: 100vh;
        padding: 1% 2%;
    }
    #home img {
        /* margin-top: 4.2rem; */
    }
    /* style for the dropdown navbar  */
    nav .logo {
        font-size: 1.6rem;
    }
    .btn-box {
        gap: 0.8rem;
    }
    .btn-box .btn {
        padding: 0.3rem 0.3rem;
        font-size: 1rem;
    }
    #about {
        /* background-color: #5f19f5; */
        /* width: 100vw; */
    }
    .info-box h1, h3{
        font-size: 1.8em;
    }
    .info-box p{
        font-size: 1.1rem;
    }
    .about-info {
        margin-top: 2rem;
        margin-bottom: 4rem;
        text-align: center;
    }
    .about-box {
        gap: 1rem;
    }
    .about-box h1 {
        font-size: 1.7rem;
        margin-bottom: 20px;
    }
    .about-box p{
        line-height: 1.8rem;
        font-size: 1.1rem;
        width: 300px;
        margin-left: 20px;
    }
    .about-box h2 {
        font-size: 1.7rem;
        margin-top: 15px;
        text-align: center;
    } 

    #projects-container {
        gap: 1rem;
    }

    #projects-header {
        text-align: center;
    }
    .project {
        background-color: rgb(230, 133, 220);
        padding: 2rem 3rem;
    }

    .skills {
        gap: 2.5rem;
        margin-bottom: 3rem;
        /* margin-left: 2rem; */
        display: flex;
        /* flex-direction: row; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .skills ul {
        font-size: 1.3rem;
        margin-top: 25px;
        gap: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-header{
        font-size: 1.5rem;
    }
    .skill-li {
        /* display: none; */
        font-size: 0.9rem;
    }
    #db-header {
        text-align: center;
        /* margin-left: 6rem; */
    }
    #frontend-header {
        /* margin-left: 1.5rem; */
    }
    #backend-header {
        /* margin-left: 1rem; */
    }
    .services-header {
        font-size: 1.7rem;
        margin-top: 2rem;
        text-align: center;
        /* margin-bottom: 5rem; */
    }
    .services-container {
        gap: 1em;
    }
    .services-box {
        padding: 1.5rem;
        gap: 1.4em;

    }
    .form-header {
        font-size: 2rem;
        margin-top: 2rem;
    }
    .contact-media-link {
    font-size: 2rem;
}
    /* form {
        gap: 1.5em;
    }
    form .input-box{
        gap: 1.5em;
    }
    form input {
        font-size: 1em;
        padding: 0.5rem 3rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
    }
    .input-box span {
        font-size: 1.5rem;
    }
    form .btn {
        padding: 0.3rem 0.5rem;
        font-size: 1.1rem;
    }
    #form-textarea {
        padding: 1.3rem 2rem;
        font-size: 0.9rem;
    
    } */
    footer {
        
    }
    .col-box span {
        text-align: center;
    }
    .col-right {
        margin-right: 2rem;
    }
    .col-left {
        /* margin-left: 2rem; */
        margin-top: 0.5rem;
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap; */
    }
}